:root {
    --header-height: 100px;
    --popup-width: 500px;
}

#navbar-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    padding: 5px;

    height: var(--header-height);

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.05);

    z-index: 9999;

    #logo-header {
        font-size: 3rem;
        color: rgb(var(--primary));
        font-family: 'Zilla Slab', 'Courier New', Courier, monospace;

        @media only screen and (max-width: 768px) {
            font-size: 2.5rem;

            .logo-icon {
                display: none;
            }
        }
    }


    .search-bar {
        display: flex;
        flex-direction: row;

        @media only screen and (max-width: 700px) {
            display: none;
        }
    }

    #login-button {
        color: rgb(var(--primary)) !important;
    }

    .header-icon {
        font-size: 32px;
        color: rgb(var(--primary));
        margin: 0px 10px;

        @media only screen and (max-width: 768px) {
            font-size: 28px;
            margin: 0px 10px;
        }
    }

    .header-popup {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        z-index: 3;

        top: var(--header-height);
        right: calc(-1 * var(--popup-width) - 10px);

        width: var(--popup-width);

        border-radius: 0px 0px 0px var(--radius1) !important;
        box-shadow: 0 10px 10px rgb(0 0 0 / 0.1);

        background-color: rgb(var(--bg0));

        transition: right 0.2s ease-out;

        @media only screen and (max-width: 768px) {
            align-items: center;
            width: 100%;
            right: calc(-1 * 100% - 10px);
        }

    }

    .header-popup-active {
        display: flex;
        right: 0px;
        transform: translateX(0px);
    }
    #account-overview-popup {
        width: calc(var(--popup-width) / 2);
        padding: 10px;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        hr {
            width: 100%;
            color: rgb(var(--primary)) !important;
        }

        .link {
            align-self: left;
            color: rgb(var(--b2));
            font-size: 1.2rem;
            font-weight: 500;
            margin: 5px;

            @media only screen and (max-width: 768px) {
                font-size: 1.4rem;
            }
        }
    }
}