$slide-button-size: 40px;

#product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    #title {
        margin: 10px;
        margin-bottom: 0px;
    }

    #page-content {
        #product-overall {
            display: flex;
            align-items: center;

            @media only screen and (max-width: 950px) {
                align-items: flex-start;
                flex-direction: column;
                width: 300px;
            }

            #product-left {
                display: flex;
                align-items: center;
    
                #image-slider {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    #image-up-arrow,
                    #image-down-arrow {
                        font-size: $slide-button-size;
                        z-index: 1;
                        cursor: pointer;
                        transition: transform 0.1s ease-in;
                    }

                    #image-up-arrow:hover,
                    #image-down-arrow:hover {
                        transform: scale(110%);
                    }

                    #image-slider-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: scroll;
                        // width: 80px;
                        height: 300px;
                        max-height: 300px;
                        -ms-overflow-style: none;
                        /* IE and Edge */
                        scrollbar-width: none;
                        /* Firefox */

                        .product-file-slider {
                            object-fit: cover;
                            margin: 5px;
                            border-radius: var(--radius1);
                            width: 80px;
                            min-height: 80px;
                            cursor: pointer;
                            transition: transform 0.1s ease-in;
                        }

                        .product-file-slider:hover {
                            transform: scale(110%);
                        }

                        .active {
                            border: 2px solid rgb(var(--secondary));
                        }
                    }
                }

                #image-thumbnail {
                    display: flex;
                    width: 300px;
                    justify-content: center;
                    margin: 10px;

                    @media only screen and (max-width: 950px) {
                        max-width: 300px;
                        width: 100%;
                        margin-left: 0px;
                    }

                    .product-file-thumbnail {
                        display: none;
                        border-radius: var(--radius1);
                        box-shadow: var(--shadow0);
                        max-height: 300px;
                        max-width: 100%;
                        object-fit: contain;
                    }

                    .active {
                        display: block;
                    }
                }
            }

            #product-right {
                display: flex;
                flex-direction: column;
                align-self: flex-end;
                margin-bottom: $slide-button-size;
                margin-left: 20px;
                width: 500px;

                @media only screen and (max-width: 950px) {
                    width: 100%;
                    margin-left: 0px;
                    margin-bottom: 0px;
                }

                .product-title {
                    color: rgb(var(--b1));
                    font-weight: bold;
                    word-break: break-all;

                    @media only screen and (max-width: 950px) {
                        width: 100%;
                    }
                }

                #origin,
                #webshop_name {
                    margin: 5px 0px;
                    font-weight: bold;
                    font-size: 0.9rem;
                    color: rgba(var(--b2), 0.6);
                }

                #webshop_name {
                    text-decoration: underline;
                }

                hr {
                    margin-top: 0px;
                    margin-bottom: 20px;
                }

                #price {
                    font-size: 2rem;
                    margin-bottom: 10px;
                    font-weight: bold;

                    sup {
                        font-size: 1.1rem;
                    }
                }

                .product-availability {
                    font-size: 1rem;
                    margin-bottom: 10px;
                }

                .info-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    margin-bottom: 5px;


                    #add-cart-button {
                        margin-left: 10px;
                        height: 100%;
                        flex: 1;
                    }

                    form {
                        display: flex;
                        margin-left: 10px;
                        height: 100%;
                        flex: 1;

                        .notify-button {
                            flex: 1;
                        }
                    }

                    #quantity {
                        width: 100px;
                    }

                    @media only screen and (max-width: 950px) {
                        flex-direction: column;
                        width: 100%;
                        flex: 1;
                        position: relative;
                        justify-content: unset;
                        align-items: unset;

                        #quantity {
                            width: 100%;
                        }

                        #add-cart-button {
                            width: 100%;
                            margin: 10px 0px;
                            padding: 5px 0px;
                        }
                    }
                }
            }
        }

        #product-details {
            margin-top: 30px;
        }

        #reviews {
            // star values
            --dir: right;
            --fill: rgb(var(--yellow));
            --fillbg: rgba(100, 100, 100, 0.15);
            // this svg is my own version
            --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 360 360"><path d="M358.966 143.652c0-11.38-9.047-20.582-20.183-20.582-.301 0-.602.024-.894.041l-.154-.569H232.323l-30.076-92.544-.268-.016c-.293-12.404-10.234-22.419-22.5-22.419-12.03 0-21.817 9.616-22.459 21.736h-.081l-30.311 93.243H25.247c-1.13-.179-2.276-.301-3.471-.301C9.754 122.242 0 132.175 0 144.449c0 9.673 6.088 17.875 14.55 20.923l79.424 57.697-31.986 98.47.602.447a21.575 21.575 0 0 0-1.26 7.259c0 11.811 9.397 21.386 20.996 21.386 5.064 0 9.714-1.845 13.347-4.91l.236.195 83.562-60.72 84.854 61.655.406-.276c3.56 3.008 8.137 4.828 13.111 4.828 11.372 0 20.582-9.397 20.582-20.972 0-2.122-.309-4.154-.886-6.08l.293-.179-32.839-101.103 83.919-60.981-.171-.553a20.678 20.678 0 0 0 10.226-17.883z"/></svg>');
            --stars: 5;
            --starsize: 1.5rem;

            #review-form {

                // source: https://dev.to/madsstoumann/star-rating-using-a-single-input-i0l
                .rating {
                    --symbol: var(--star);
                    --value: 1;
                    --w: calc(var(--stars) * var(--starsize));
                    --x: calc(100% * (var(--value) / var(--stars)));
                    block-size: var(--starsize);
                    inline-size: var(--w);
                    position: relative;
                    touch-action: manipulation;
                    -webkit-appearance: none;
                }

                .rating::-moz-range-track {
                    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
                    block-size: 100%;
                    mask: repeat left center/var(--starsize) var(--symbol);
                }

                .rating::-webkit-slider-runnable-track {
                    background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
                    block-size: 100%;
                    mask: repeat left center/var(--starsize) var(--symbol);
                    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
                }

                .rating::-moz-range-thumb {
                    height: var(--starsize);
                    opacity: 0;
                    width: var(--starsize);
                }

                .rating::-webkit-slider-thumb {
                    height: var(--starsize);
                    opacity: 0;
                    width: var(--starsize);
                    -webkit-appearance: none;
                }

                .form-control {
                    margin: 10px 0px;
                }

                .btn-primary {}
            }

            .review {
                border: solid rgba(var(--b3), 0.3) 1px;
                border-radius: var(--radius1);
                padding: 10px;
                margin: 20px 0px;

                .review-top {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .left {
                        display: flex;
                        flex-direction: row;
                    }

                    .star-icon {
                        margin-right: 5px;
                        height: 20px;
                        width: 20px;
                        mask: var(--star);
                        background: var(--fillbg);
                    }

                    .star-active {
                        background: var(--fill);
                    }

                    .remove-review-button {}
                }

                .title {
                    margin-left: 5px;
                }

                .content {
                    color: rgb(var(--b1));
                    margin: 10px 0px;
                }
            }
        }
    }
}

.sub-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}