@import "profile.scss";
@import "products.scss";

#account-overview-container{
    display: flex;
    flex-direction: row;

    padding: 32px;
    width: 100%;
}

#account-left-sidebar{
    padding: 16px;
}

#account-left-sidebar>li{
    margin: 24px 16px;
}

.account-tab-button{
    padding-left: 8px;
    padding-right: 8px;
}

.account-tab-button.active{
    background-color: rgba(var(--primary), 0.1);
    border-radius: var(--radius1);
}

#account-tab-container {
    padding: 16px;
    margin-left: 32px;
    flex: 1;
}